$def with (result, form)

<html>
    <head>
        <title>AnnealServ v0.11</title>
    </head>
<body>


<h1>AnnealServ v0.11</h1>

$if form.sequence:
    Computing the hybridization rate failed. <br>
    <br />  
    Sequence	&#09 : <code style="color: green; font-size: 1em;">$form.sequence</code>  <br />  
    Error   		 : <code style="color: green; font-size: 1em;">$form.substrate </code>  <br />
 
$else:
    <em>Please supply a sequence.</em>
<br>


<p>
	Frits Dannenberg, Caltech 2018, all rights reserved. 	<a href="fdann@caltech.edu">fdann@caltech.edu</a>  <br> <br>
	<emph> Computation ends when 25 succesful trajectories are found, or after 30 seconds, whichever occurs earlier. <emph> <br>
	Based on the Multistrand and NUPACK software <br>
	<a href="http://www.multistrand.org">www.multistrand.org</a> <br>
	<a href="http://www.nupack.org">www.nupack.org</a> <br>
	<br>
</p>


</body>
</html>
