$def with (greeting, substrate, result, computeTime, nFor, nRev)

<html>
    <head>
        <title>AnnealServ v0.11</title>
    </head>
<body>


<h1>AnnealServ v0.11</h1>

$if greeting:
    Computed hybridization rate (job &#09 : <code style="color	green; font-size: 1em;">$substrate</code> took <code style="color: green; font-size: 1em;">$computeTime </code> seconds )<br />
    <br />  
    Simulation time	 : <code style="color: green; font-size: 1em;">$computeTime </code>  <br />
    nForward         : <code style="color: green; font-size: 1em;">$nFor </code>  <br />
    nReverse         : <code style="color: green; font-size: 1em;">$nRev </code>  <br />
    Material		 : <code style="color: green; font-size: 1em;">$substrate </code>  <br />
    Sequence		 : <code style="color: green; font-size: 1em;">$greeting</code>  <br />  
    Rate 			 : <code style="color: green; font-size: 1em;">$result /M /s </code>  
 
    
$else:
    <em>Please supply a job name and sequence.</em>
<br>


<p>
	Frits Dannenberg and Erik Winfree, Caltech 2018, all rights reserved. 	<a href="fdann@caltech.edu">fdann@caltech.edu</a>  <br> <br>
	Based on the Multistrand and NUPACK software <br>
	<a href="https://www.www.multistrand.org">www.multistrand.org</a> <br>
	<a href="https://www.www.nupack.org">www.nupack.org</a> <br>
	<br>
</p>


</body>
</html>
