
<html>
    <head>
        <title>AnnealServ v0.11</title>
    </head>
<body>



<h1>AnnealServ v0.11</h1>

<div class="container">
<form action="/annealserv" method="POST">
    Sequence (max 16 nt) 				<br>
    <input type="text" name="sequence">
    <br/>
    Material   (default: DNA)			<br>
    <input type="text" name="substrate">
    <br/>
    <input type="submit">
</form>
</div>

<p>
	Frits Dannenberg and Erik Winfree, Caltech 2018, all rights reserved. 	<a href="fdann@caltech.edu">fdann@caltech.edu</a>  <br> <br>
	Based on the Multistrand and NUPACK software <br>
	<a href="https://www.www.multistrand.org">www.multistrand.org</a> <br>
	<a href="https://www.www.nupack.org">www.nupack.org</a> <br>
	<br>
</p>


</body>
</html>
