
<html>
<head>
<style>
</style>
<title>AnnealServ v0.11</title>
</head>
<body>

	<h1>AnnealServ v0.11</h1>

	<div class="container">
		<form action="/annealserv" method="POST">
			Sequence (max 80 nt) <br> <input type="text" name="sequence"><br> 
			 	<input type="radio" name="substrate" value="DNA" checked> DNA 
 				<input type="radio" name="substrate" value="RNA"> RNA <br> 
			<input type="submit">
		</form>
	</div>

	<p>
		Frits Dannenberg, Caltech 2018, all rights reserved. <a
			href="fdann@caltech.edu">fdann@caltech.edu</a> <br> <br>
		<emph> Computation ends when 25 succesful trajectories are
		found, or after 30 seconds, whichever occurs earlier. <emph> <br>
		Based on the Multistrand and NUPACK software <br>
		<a href="https://www.multistrand.org">www.multistrand.org</a> <br>
		<a href="https://www.nupack.org">www.nupack.org</a> <br>
		<br>
	</p>


</body>
</html>
