$def with (result, form_f, web_text)

<html>
    <head>
    <style>
        border-collapse: collapse;
    	border: 1px solid black;
    </style>
        <title>$web_text['title']</title>
    </head>
<body>


<h1>$web_text['title']</h1>

$if form_f.sequence:
    Error encountered for the $form_f.experiment method. <br>
    <br />  
    Sequence	&#09 : <code style="color: green; font-size: 1em;">$form_f.sequence</code>  <br />  
    Error  		 : <code style="color: green; font-size: 1em;">$form_f.substrate </code>  <br />
 
$else:
    <em>Please supply a sequence.</em>
<br>


<p>
<div>
	$web_text['disclaimer']
	<br>
</div> <br>
	Frits Dannenberg, Caltech 2018, all rights reserved. 	<a href="fdann@caltech.edu">fdann@caltech.edu</a>  <br> <br>
	Based on the Multistrand and NUPACK software <br>
	<a href="http://www.multistrand.org">www.multistrand.org</a> <br>
	<a href="http://www.nupack.org">www.nupack.org</a> <br>
	<br>
</p>


</body>
</html>
