
<html>
<head>
    <style>
        border-collapse: collapse;
    	border: 1px solid black;
    </style>
<title>HybrServ v0.12</title>
</head>
<body>

	<h1>HybrServ v0.12</h1>

	<div class="container">
		<form action="/hybrserv" method="POST">
			 	<input type="radio" name="experiment" value="Association" checked> Association
 				<input type="radio" name="experiment" value="Dissociation"> Dissociation
 				<input type="radio" name="experiment" value="Dissociation"> Toehold-mediated three-way branch migration  <br> <br>
				<table>
				<tr>
					<td>
					Sequence (max 100 nt)
					</td>
					<td>
					Toehold 
					</td>
				</tr>
				<tr>
					<td>
					<input type="text" name="sequence">
					</td>
					<td>
					<input type="text" name="toehold">
					</td>
				</tr>
				</table>
			 	<input type="radio" name="substrate" value="DNA" checked> DNA 
 				<input type="radio" name="substrate" value="RNA"> RNA <br> 
				<BR>
				<table>
				  <tr>
			          <td>Temp</td>
	    			  <td><input type="number" name="temperature" value="25.0" step="0.01" min="5.0" max="95.0"> C </td>
				  </tr>
				  <tr>
			          <td>[Na+]</td>
	    			  <td><input type="number" name="sodium" value="1.0" step="0.005" min="0.05" max="1.1"> M </td>
				  </tr>
				  <tr>
			          <td>[Mg2+]&nbsp;&nbsp;&nbsp;&nbsp;</td>
	    			  <td><input type="number" name="magnesium" value="0.0" step="0.001" min="0.0" max="0.1"> M	</td>
				  </tr>
				</table>
				<BR>
			<input type="submit">
		</form>
	</div>

	<p>
		Frits Dannenberg, Caltech 2018, all rights reserved. <a
			href="fdann@caltech.edu">fdann@caltech.edu</a> <br> <br>
		<emph> Computation ends when 24 succesful trajectories are
		found, or after 30 seconds, whichever occurs earlier. <emph> <br>
		Based on the Multistrand and NUPACK software <br>
		<a href="http://www.multistrand.org">www.multistrand.org</a> <br>
		<a href="http://www.nupack.org">www.nupack.org</a> <br>
		<br>
	</p>


</body>
</html>
