
<html>
<head>
    <style>
        border-collapse: collapse;
    	border: 1px solid black;
    </style>
    <style media="screen" type="text/css">
    	.not-active {
 		  pointer-events: none;
		   cursor: default;
		}
    </style>
<title>HybrServ v0.12</title>
</head>
<body>


<!--  JScript starts here  -->

<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript"> 
jQuery(function() {
	jQuery("#submitbutton").on('click' , function(){
		document.getElementById("submitbutton").className = "not-active";	    
	});
});

jQuery(function() {
	jQuery("#expSelect3").on('click' , function(){
		jQuery("#lT").show()
		jQuery("#rT").show()
		jQuery("#text_rT").show()
		jQuery("#text_lT").show()
	});
	jQuery("#expSelect1").on('click' , function(){
		jQuery("#lT").hide()
		jQuery("#rT").hide()
		jQuery("#text_rT").hide()
		jQuery("#text_lT").hide()
	});
	jQuery("#expSelect2").on('click' , function(){
		jQuery("#lT").hide()
		jQuery("#rT").hide()
		jQuery("#text_rT").hide()
		jQuery("#text_lT").hide()
	});
	
});

<!--  JScript ends here  -->


</script>


	<h1>HybrServ v0.12</h1>

	<div class="container">
		<form action="/hybrserv" method="POST">
			 	<input type="radio" id="expSelect1" name="experiment" value="association" checked> Association
 				<input type="radio" id="expSelect2" name="experiment" value="dissociation"> Dissociation
 				<input type="radio" id="expSelect3" name="experiment" value="threewaybm"> Toehold-mediated three-way branch migration  <br> <br>
				<table>
				<tr>
					<td>
					Sequence
					</td>
					<td>
					<div id = "text_lT" hidden> Left toehold </div> 
					</td>
					<td>
					<div id = "text_rT" hidden> Right toehold </div>
					</td>
				</tr>
				<tr>
					<td>
					<input type="text" name="sequence">
					</td>
					<td>
					<input type="text" name="ltoehold" id="lT" hidden>
					</td>
					<td>
					<input type="text" name="rtoehold" id="rT" hidden>
					</td>
				</tr>
				</table>
			 	<input type="radio" name="substrate" value="DNA" checked> DNA 
 				<input type="radio" name="substrate" value="RNA"> RNA <br> 
				<BR>
				<table>
				  <tr>
			          <td>Temp</td>
	    			  <td><input type="number" name="temperature" value="25.0" step="0.01" min="5.0" max="95.0"> C </td>
				  </tr>
				  <tr>
			          <td>[Na+]</td>
	    			  <td><input type="number" name="sodium" value="1.0" step="0.005" min="0.05" max="1.1"> M </td>
				  </tr>
				  <tr>
			          <td>[Mg2+]&nbsp;&nbsp;&nbsp;&nbsp;</td>
	    			  <td><input type="number" name="magnesium" value="0.0" step="0.001" min="0.0" max="0.1"> M	</td>
				  </tr>
				  <tr>
			          <td>N = </td>
	    			  <td><input type="number" name="trajectories" value="30" step="1" min="5" max="100"> </td>
				  </tr>
				</table>
				<BR>
			<input type="submit" id="submitbutton" class="">
		</form>
	</div>

<p>
<div>
	Hybridization rate computation is based on First Step Mode. 
	The computation ends when N successful trajectories are found or after max(N,30) seconds, whichever occurs earlier.
	The maximum sequence length is 100 nt. 
	Dissociation and toehold-mediated branch migration rate computation is based on an unpublished rare event simulation method.	
	The simulation starts N trials with timeout 0.2ms along each point in a predetermined pathway. The computation time is unrestricted.
	Dissociation: The maximum sequence length is 20 nt. 
	Threeway branch migration: The sum of sequence lengths should be less than 50 nt.  
	 <br>
</div> <br>
	Frits Dannenberg, Caltech 2018, all rights reserved. 	<a href="fdann@caltech.edu">fdann@caltech.edu</a>  <br> <br>
	Based on the Multistrand and NUPACK software <br>
	<a href="http://www.multistrand.org">www.multistrand.org</a> <br>
	<a href="http://www.nupack.org">www.nupack.org</a> <br>
	<br>
</p>


</body>

</html>
